$font-footer: 'PlayfairDisplay';
$social-icons-color: #626262;

.footer__social {
  display: inline-block;
  word-spacing: 7px;

  a {
    color: $social-icons-color;
    text-decoration: none;
    transition: color .3s ease;

    & i {
      transition: color .3s ease;
    }

    & > .icon-twitter:hover {
      color: #41ABE1;
    }

    & > .icon-facebook:hover {
      color: #4867AA;
    }

    & > .icon-instagram:hover {
      color: #BE00A5;
    }
  }

  & li:first-of-type {
    margin-left: 0;
  }
}