$font-footer: 'PlayfairDisplay';
$font-size: 14px;
$text-color: black;

.footer__links {
  li:first-of-type {
    margin-left: 0;
  }

  a {
    font-family: $font-footer;
    font-size: $font-size;
    color: $text-color;
    text-decoration: none;
  }

  display: inline-block;
  padding: 5px 0;
}

@include breakpoint('small-tablet-portrait'){
  .footer > .content-wrapper{
    padding-left: 0;
  }
}

@include breakpoint('mobile-landscape'){
  .footer__links{
    display: block;
    width: 100%;
    text-align: center;
  }
}