$font-size: 14px;

.footer__social-wrapper {
  padding: 5px 0;
  float: right;
  span{
    font-size: $font-size;
  }
}

@include breakpoint('mobile-landscape'){
  .footer__social-wrapper{
    display: block;
    width: 100%;
    text-align: center;
  }
}