$nav-list-links: "Playfair Display";
$nav-links-color: #626262;

.header__nav-list--dropdown {
  margin-right: 20px;

  & li {
    display: block;
    list-style: none;
    font-family: $nav-list-links;
    border-bottom: 1px black solid;
    text-align: center;
    font-size: 25px;
    padding: 5px;
  }

  & li:last-of-type {
    border: none;
  }

  & a {
    color: $nav-links-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}