.imaged-post:nth-child(even) {
  float: right;
  max-width: 420px;

  @include breakpoint('small') {
    & {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;
      float: none;
      max-width: 80%;
    }
  }

  @include breakpoint('extra-small') {
    & {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;
      float: none;
      max-width: 80%;
    }
  }
}
