.imaged-post:nth-child(even){
  float: right;
  width: 50%;

  .post__poster{
    background-position: right;
  }

  .imaged-post__header a {
    margin-left: 25px;
  }

  .post-content{
    margin-left: 25px;
  }
}