$background: #f0f0f0;

.footer {
  background-color: $background;
  margin-top: 150px;
  padding: 20px 70px;

  li {
    margin-left: 10px;
    display: inline-block;
    word-spacing: 5px;
  }
}

@include breakpoint('small-tablet-portrait'){
  .footer > .content-wrapper{
    padding-left: 0;
  }
}