.header {
  padding-bottom: 60px;
  padding-top: 30px;

  @include breakpoint ('extra-small') {
    & {
      padding: 15px 10px;
      position: fixed;
      background: darkgrey;
      width: 100%;
      z-index: 1000;
    }
  }
}