$subscribe-font: "Playfair Display";
$subscribe-logo-color: #333333;
$subscribe-bg: #f0f0f0;
$subscribe-text-color: #626262;

.subscribe {
  display: inline-block;
  position: relative;
  max-width: 420px;

  & label {
    display: block;
    font-family: $subscribe-font;
    font-size: 30px;
    color: $subscribe-logo-color;
    word-spacing: 4px;
    margin: 0 5px 80px 5px;
  }

  & input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: $subscribe-font;
    background: $subscribe-bg;
    color: $subscribe-text-color;
    padding-bottom: 15px;
    transition: padding .3s ease;

    &:focus{
      padding-bottom: 5px;
      padding-top: 10px;

    }
  }

  & button {
    position: absolute;
    right: 0;
    bottom: 15px;
    cursor: pointer;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $subscribe-bg;
    height: 17px;
    width: 32px;
    border: none;
    outline: none;
    transition: bottom .3s ease;
  }

   & input:focus ~ button{
     bottom: 5px;
   }
}