@import "variables";
@import "fonts";
@import "typography";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

.max-width-container{
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;

  @include breakpoint('medium'){
    box-sizing: border-box;
    padding: 0 20px;
  }

  @include breakpoint('small'){
    box-sizing: border-box;
    padding: 0 20px;
  }
}

.content-wrapper{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;

  &:nth-child(2){
    margin-top: 55px;
  }
}

.imaged-post-holder{
  @include breakpoint('extra-small'){
    margin-top: 80px;
  }
}

.subscribe-holder{
  background-color: #f0f0f0;
  text-align: center;
  width: 100%;
  padding: 60px 0 75px 0;
  margin-bottom: 105px;

  @include breakpoint('small'){
    padding-bottom: 0;
  }
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

//base styles, and base classes like wrappers, containers or clearfix...


